<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
	<div class="container">
		<nav><span>AccesAI</span> </nav>

		<h1 class="display-3 text-center"> Your heading</h1>
		<h5 class=" display-6 text-center"> enter the link of website below</h5>
		<div class="form-ground">
			<form action="#machine">
				<label class="" for="website_link">Link : </label>
				<input type="url" name="website_link" id=" website_link" placeholder="Enter website url...">
				<button class="btn btn-success">Submit</button>
			</form>
		</div>

	</div>
	<script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
</body>

</html>